In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
train_data = pd.read_csv("../data/application_train.csv")

In [3]:
train_data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
def format_data(column):
    try:
        x = int(column[0])
    except Exception as e:
        for id,unique in enumerate(column.unique()):
            column[column == unique] = id+1

In [ ]:
for column in train_data.columns:
    format_data(train_data[column])
    train_data[column] = train_data[column].fillna(-1)

In [ ]:
# train_data.head()

In [ ]:
# x = []
# y = []
# for column in train_data.columns:
#     if column != 'TARGET':
#         x.append(column)
#         y.append(train_data[column].corr(train_data['TARGET']))

In [8]:
# plt.rcParams['figure.figsize']= [8,40]
# fig, ax = plt.subplots()

# # Example data
# y_pos =x
# performance = y

# ax.barh(y_pos, performance,
#         color=['green','blue','red','yellow','brown','pink'])
# ax.set_yticks(y_pos)
# ax.set_yticklabels(x)
# ax.invert_yaxis()  # labels read top-to-bottom
# ax.set_xlabel('Correlation')
# ax.set_title('Correlation between Target and corresponding fields')

# plt.show()

In [5]:
list(train_data.columns).__len__()

122

In [6]:
bureau = pd.read_csv("../data/bureau.csv")

In [7]:
data = pd.merge(train_data,bureau,on='SK_ID_CURR',copy=True)

In [8]:
data.columns.__len__()

138

In [9]:
bureau_balance = pd.read_csv("../data/bureau_balance.csv")

In [ ]:
data = pd.merge(data,bureau_balance,on='SK_ID_BUREAU',copy=False)

In [19]:
credit_card_balance = pd.read_csv("../data/POS_CASH_balance.csv")

In [ ]:
data = pd.merge(data,credit_card_balance,on='SK_ID_CURR',copy=False)

In [ ]:
previous_balance = pd.read_csv("../data/previous_application.csv")

In [ ]:
data = pd.merge(data,previous_balance,on='SK_ID_CURR',copy=False)

In [ ]:
installments = pd.read_csv("../data/installments_payments.csv")

In [ ]:
data = pd.merge(data,installments,on='SK_ID_CURR',copy=False)